<% if User.current.logged?  && User.current.allowed_to?(:manage_favorites, nil, :global => true ) %>
<h3><%= l( :label_favorites ) %></h3>
  <% if User.current.is_favorite?(@project) %>
    <%= link_to l(:label_remove_from_favorites), url_for( :controller => :favorite_projects, :action => :destroy, :id => FavoriteProject.where(:user_id => User.current.id, :project_id => @project.id).first.id ), { :method => :delete, :class => 'icon icon-fav' } %>
  <% else %>
    <%= link_to l(:label_add_to_favorites), url_for( :controller => :favorite_projects, :action => :create, :project_id => @project.id ), { :method => :post, :class => 'icon icon-fav-off' }%>
  <% end %>
<% end %>